@media only screen and (max-width: 1024px) {
  form {
    width: 80vw;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    .input-wrapper {
      position: relative;
      height: unset;
      input {
        height: 50px;
        padding: 0 0 0 15px;
        width: -webkit-fill-available;
        position: absolute;
        border-radius: 5px;
        font-size: 18px;
        &:focus, &:active {
          outline: none;
        }
        &:focus + label, &:focus-within + label, &:active + label, &.active + label {
          transform: translate(-0rem, -1rem);
          transition: all 0.2s ease-out;
          font-size: 10px;
        }
      }
      label {
        padding: 15px;
      }
    }
    button {
      height: 100%;
      font-size: 12px !important;
      height: 50px;
      border-radius: 0 5px 5px 0 !important;
      span {
        font-size: 14px;
      }
    }
  }
}